* {
    box-sizing: border-box;
}

.container {
    border:  4px solid lightgray;
    padding: 24px 24px 0px 24px;
    display: flex;
    justify-content: space-between;
}


.box {
    border: 2px solid lightgray;
    margin-bottom: 18px;
}

.box-small {
    height: 50px;
}

.box-wrapper {
    width: 45%;
    padding-right: 24px;
}

.box-large {
    width: 45%;
}

.tiny-wrapper {
    display: flex;
    justify-content: space-between;
}

.box-tiny {
    width: 30%;
    height: 24px;
}